
<div class="py-5 text-gray-800 dark:text-white">
  <div class="max-w-6xl mx-auto px-2 sm:px-4 lg:px-8">
    <div class="flex flex-col md:flex-row max-w-8xl mx-auto px-8 sm:px-8 lg:px-9">
      <div role="status" class="max-w-sm p-4 border border-gray-200 rounded shadow animate-pulse md:p-6 dark:border-gray-700 w-200 h-350" *ngIf="isLoading">
        <div class="flex items-center justify-center mb-4 bg-white dark:bg-gray-200 max-w-sm p-2 border border-gray-200 rounded shadow animate-pulse md:p-4 dark:border-gray-700 w-80 h-80">
          <div class="rounded-lg p-6 bg-white dark:bg-slate-600 h-90">
            <svg class="w-10 h-10 w-220" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="gray" viewBox="0 0 16 20">
              <path d="M14.066 0H7v5a2 2 0 0 1-2 2H0v11a1.97 1.97 0 0 0 1.934 2h12.132A1.97 1.97 0 0 0 16 18V2a1.97 1.97 0 0 0-1.934-2ZM10.5 6a1.5 1.5 0 1 1 0 2.999A1.5 1.5 0 0 1 10.5 6Zm2.221 10.515a1 1 0 0 1-.858.485h-8a1 1 0 0 1-.9-1.43L5.6 10.039a.978.978 0 0 1 .936-.57 1 1 0 0 1 .9.632l1.181 2.981.541-1a.945.945 0 0 1 .883-.522 1 1 0 0 1 .879.529l1.832 3.438a1 1 0 0 1-.031.988Z"/>
              <path d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.98 2.98 0 0 0 .13 5H5Z"/>
            </svg>
          </div>
        </div>
        <div class="h-2.5 bg-white rounded-full dark:bg-gray-100 w-48 mb-4"></div>
        <div class="h-2 bg-white rounded-full dark:bg-gray-100 mb-2.5"></div>
        <div class="h-2 bg-white rounded-full dark:bg-gray-100 mb-2.5"></div>
        <div class="h-2 bg-white rounded-full dark:bg-gray-100"></div>

        <span class="sr-only">Loading...</span>
      </div>
      <div role="status" class="space-y-2.5 animate-pulse max-w-lg mx-10 w-400" *ngIf="isLoading">
        <div class="flex items-center w-full space-x-2">
          <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-200 w-48"></div>
          <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-100 w-32"></div>
          <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-100 w-full"></div>
        </div>
        <div class="flex items-center w-full space-x-2 max-w-[480px]">
          <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-300 w-full"></div>
          <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-200 w-full"></div>
          <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-200 w-24"></div>
        </div>
        <div class="flex items-center w-full space-x-2 max-w-[400px]">
          <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-200 w-full"></div>
          <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-300 w-80"></div>
          <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-200 w-full"></div>
        </div>
        <div class="flex items-center w-full space-x-2 max-w-[480px]">
          <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-300 w-full"></div>
          <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-200 w-full"></div>
          <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-200 w-24"></div>
        </div>
        <div class="flex items-center w-full space-x-2 max-w-[440px]">
          <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-200 w-32"></div>
          <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-200 w-24"></div>
          <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-300 w-full"></div>
        </div>
        <div class="flex items-center w-full space-x-2 max-w-[360px]">
          <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-200 w-full"></div>
          <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-300 w-80"></div>
          <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-200 w-full"></div>
        </div>
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <div class="py-8" *ngIf="!isLoading">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex flex-col md:flex-row -mx-4">
        <div class="px-2">
          <div class="rounded-lg p-3 bg-white dark:bg-transparent">
            <img class="w-220 object-cover" [ngSrc]="card.image" alt="Image pour la carte {{card.name}}" [width]="300" [height]="550">
            <div class="flex flex-col my-5">
              <button type="button" (click)="navigateToOfferForm()" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-16 py-2.5 text-center me-2 mb-2">Sell this Card</button>
            </div>
          </div>
          <!-- <div class="flex -mx-2 mb-4">
              <div class="w-1/2 px-2">
                  <button class="w-full bg-gray-900 dark:bg-gray-600 text-white py-2 px-4 rounded-full font-bold hover:bg-gray-800 dark:hover:bg-gray-700">Add to Cart</button>
              </div>
              <div class="w-1/2 px-2">
                  <button class="w-full bg-gray-400 dark:bg-gray-700 text-gray-800 dark:text-white py-2 px-4 rounded-full font-bold hover:bg-gray-300 dark:hover:bg-gray-600">Add to Wishlist</button>
              </div>
          </div> -->

        </div>
        <div class="md:flex-1 px-3">
          <h2 class="text-2xl font-bold mb-2">{{ card.name }}</h2>
          <p class="text-sm mb-4">
            {{ card.flavour }}
          </p>
          <div class="flex mb-4">
            <!-- <div class="mr-4">
                <span class="font-bold text-gray-700 dark:text-gray-300">Price:</span>
                <span class="text-gray-600 dark:text-gray-300">$29.99</span>
            </div> -->

            <div>
              <span class="font-bold">Availability: </span>
              <span>In Stock</span>
            </div>
          </div>

          <div class="flex mb-4 mr-4">
            <span class="font-bold ">Rarity: </span>
            <p *ngIf="card.rarity == 'M'">
              <span class="mx-1">Majestic</span>
            </p>
            <p *ngIf="card.rarity == 'C'">
              <span class="mx-1">Common</span>
            </p>
            <p *ngIf="card.rarity == 'R'">
              <span class="mx-1">Rare</span>
            </p>
            <p *ngIf="card.rarity == 'S'">
              <span class="mx-1">Super Rare</span>
            </p>
            <p *ngIf="card.rarity == 'L'">
              <span class="mx-1">Legendary</span>
            </p>
            <p *ngIf="card.rarity == 'F'">
              <span class="mx-1">Fabled</span>
            </p>
            <p *ngIf="card.rarity == 'T'">
              <span class="mx-1">Token</span>
            </p>
            <p *ngIf="card.rarity == 'P'">
              <span class="mx-1">Marvel</span>
            </p>
          </div>

          <div>
            <span class="font-bold">Card Description: </span>
            <p class="mt-2">
              {{ card.text }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mx-auto" >
    <div class="overflow-x-auto sm:rounded-lg">
      <table class="mx-auto text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" *ngIf="offers.length > 0">
        <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
              Seller
            </th>
            <th scope="col" class="px-6 py-3">
              Price
            </th>
            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
              Edition language
            </th>
            <th scope="col" class="px-6 py-3">
              Card Condition
            </th>
            <th scope="col" class="px-6 py-3">
              Foil?
            </th>
            <th scope="col" class="px-6 py-3">
              Quantity
            </th>
            <th scope="col" class="px-6 py-3">
              Card Description
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-b border-gray-200 dark:border-gray-700" *ngFor="let o of offers">
            <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
              {{ o.userOfferId }}
            </td>
            <td class="px-6 py-4">
              {{ o.price }}
            </td>
            <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
              {{ o.editionLang }}
            </td>
            <td class="px-6 py-4">
              {{ o.cardCondition }}
            </td>
            <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
              {{ o.isFoil ? 'Yes' : 'No' }}
            </td>
            <td class="px-6 py-4">
              {{ o.quantity }}
            </td>
            <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
              {{ o.description }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

