<div class="bg-white dark:bg-gray-900 bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')] dark:bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg')]" >
  <input type="hidden" autofocus>
  <div id="top-list" class="my-5 mx-auto max-w-2xl px-4 py-8 sm:px-8 sm:py-6 lg:max-w-7xl lg:px-8 bg-transparent">
    <h2 class="py-3 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Magic's Card List</h2>
    <hr class="p-2">
    <div class="my-2">
      <form class="pb-2 m-3 text-gray-500 dark:text-white" [formGroup]="searchForm" (ngSubmit)="searchForCards(1)">
        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 dark:text-white sr-only ">Search</label>
        <div class="relative">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
          </div>
          <input type="search" formControlName="search" id="default-search" class="block w-full p-4 pl-10  dark:text-white-200 border-white-100 rounded-lg bg-gray-100 dark:bg-gray-800 focus:ring-blue-500 focus:border-white-100" placeholder="Search a card by its name" required>
          <button type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">Search</button>
        </div>
      </form>

      <div class="mt-1 space-y-4">

        <!-- Accordéon pour la recherche avancée -->
        <div class="m-3 border-gray-500 dark:border-white border-1 rounded">
          <button (click)="toggleAccordion()" class="flex items-center justify-between w-full p-4 text-left bg-gray-200 dark:bg-gray-800 rounded-lg cursor-pointer focus:outline-none focus:ring focus:border-blue-300">
            <span class="flex text-sm font-medium text-gray-700 dark:text-white my-1.5">
              <lucide-icon name="text-search" class="flex flex-wrap mx-1"></lucide-icon>
              Advanced Search
            </span>
            <svg *ngIf="!isAccordionOpen" class="w-4 h-4 text-gray-700 dark:text-white transition-transform duration-300" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
            <svg *ngIf="isAccordionOpen" class="w-4 h-4 text-gray-700 dark:text-white transition-transform duration-300 transform rotate-180" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
          </button>

          <div *ngIf="isAccordionOpen" class="mt-1 p-3 bg-gray-200 dark:bg-gray-800 border-gray-500 dark:border-white border-1 rounded border-solid">
            <!-- Contenu de l'accordéon (champs de recherche avancée) -->
            <form [formGroup]="searchByCriteriasForm" (ngSubmit)="searchByCriterias(1)">
              <!-- Champs pour la recherche en fonction de la classe d'une carte -->
              <div class="grid grid-cols-1 xl:grid-cols-3 md:grid-cols-1 border-gray-500 dark:border-white border-1 rounded border-solid">
                <div class="mt-4 w-[300px] mx-auto">
                  <h3 class="mb-2 font-semibold text-gray-900 dark:text-white">Colors</h3>
                  <hr class="w-full">
                  <ul class="w-full text-sm mt-3 font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                    <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
                      <div class="flex items-center ps-3">
                        <input id="radio-white" type="radio" value="white" formControlName="color" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="radio-white" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">White</label>
                      </div>
                    </li>
                    <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
                      <div class="flex items-center ps-3">
                        <input id="radio-blue" type="radio" value="blue" formControlName="color" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="radio-blue" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Blue</label>
                      </div>
                    </li>
                    <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
                      <div class="flex items-center ps-3">
                        <input id="radio-black" type="radio" value="black" formControlName="color" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="radio-black" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Black</label>
                      </div>
                    </li>
                    <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
                      <div class="flex items-center ps-3">
                        <input id="radio-red" type="radio" value="red" formControlName="color" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="radio-red" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Red</label>
                      </div>
                    </li>
                    <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
                      <div class="flex items-center ps-3">
                        <input id="radio-green" type="radio" value="green" formControlName="color" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="radio-green" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Green</label>
                      </div>
                    </li>
                    <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
                      <div class="flex items-center ps-3">
                        <input id="radio-colorless" type="radio" value="colorless" formControlName="color" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="radio-colorless" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Colorless</label>
                      </div>
                    </li>
                  </ul>
                </div>

                <!-- Champs pour la recherche en fonction des caractéristiques de la carte -->
                <div class="mt-4 w-[300px] mx-auto">
                  <h3 class="mb-2 font-semibold text-gray-900 dark:text-white">Gradation</h3>
                  <hr class="w-full">
                  <!-- Liste déroulante permettant de trouver une carte selon son niveau de rareté -->
                  <div class="mt-4">
                    <label for="rarity" class="mb-2 text-sm font-medium text-gray-900 dark:text-white">Rarity</label>
                    <select formControlName="rarity" id="rarity" class="block w-full p-2 dark:text-white-200 border-white-100 rounded-lg bg-gray-100 dark:bg-gray-800 focus:ring-blue-500 focus:border-white-100">
                      <option value="">Any</option>
                      <option value="common">Common</option>
                      <option value="uncommon">Uncommon</option>
                      <option value="rare">Rare</option>
                      <option value="special">Special</option>
                      <option value="mythic">Mythic</option>
                      <option value="bonus">Bonus</option>
                    </select>
                  </div>


                </div>
                <div class="mt-4 mx-auto w-[300px]">
                  <h3 class="mb-2 font-semibold text-gray-900 dark:text-white">Stats</h3>
                  <hr class="w-full">
                  <div class="mt-4">
                    <label for="power" class="mb-2 text-sm font-medium text-gray-900 dark:text-white">Power</label>
                    <select formControlName="power" id="power" class="block w-full p-2 dark:text-white-200 border-white-100 rounded-lg bg-gray-100 dark:bg-gray-800 focus:ring-blue-500 focus:border-white-100">
                      <option [selected]="true" value="">∞</option>
                      <option value="=0">0</option>
                      <option value="=1">1</option>
                      <option value="=2">2</option>
                      <option value="=3">3</option>
                      <option value="=4">4</option>
                      <option value="=5">5</option>
                      <option value="=6">6</option>
                      <option value="=7">7</option>
                      <option value="=8">8</option>
                      <option value="=9">9</option>
                      <option value=">9">9+</option>
                    </select>
                  </div>

                  <div class="mt-4 w-auto">
                    <label for="toughness" class="mb-2 text-sm font-medium text-gray-900 dark:text-white">Toughness</label>
                    <select formControlName="toughness" id="toughness" class="block w-full p-2 dark:text-white-200 border-white-100 rounded-lg bg-gray-100 dark:bg-gray-800 focus:ring-blue-500 focus:border-white-100">
                      <option [selected]="true" value="">∞</option>
                      <option value="=0">0</option>
                      <option value="=1">1</option>
                      <option value="=2">2</option>
                      <option value="=3">3</option>
                      <option value="=4">4</option>
                      <option value="=5">5</option>
                      <option value="=6">6</option>
                      <option value="=7">7</option>
                      <option value="=8">8</option>
                      <option value="=9">9</option>
                      <option value=">9">9+</option>
                    </select>
                  </div>

                  <!-- Liste déroulante permettant de trouver une carte selon la valeur en mana qu'elle possède -->
                  <div class="mt-4 w-auto">
                    <label for="mana" class="mb-2 text-sm font-medium text-gray-900 dark:text-white">Mana Value</label>
                    <select formControlName="mana" id="mana" class="block w-full p-2 dark:text-white-200 border-white-100 rounded-lg bg-gray-100 dark:bg-gray-800 focus:ring-blue-500 focus:border-white-100">
                      <option [selected]="true" value="">∞</option>
                      <option value="0">0</option>
                      <option value="½">0.5</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="100">100</option>
                      <option value="1000000">1000000</option>
                    </select>
                  </div>
                </div>
              </div>


              <div class="flex items-center justify-center">
                <button type="submit" class="text-white mt-4 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-24 py-3">Search</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="my-5">
      <app-pagination [currentPage]="currentPage" [limit]=pageSize [total]=total [pagesCount]=nbPage (changePage)="changePage($event)"></app-pagination>
    </div>

    <div class="grid grid-cols-4 gap-x-6" *ngIf="isLoading">
      <div *ngFor="let i of divList; let index = index">
        <div role="status" class="flex items-center justify-center h-96 w-72 bg-white-300 rounded-lg animate-pulse my-4" *ngIf="isLoading">
          <svg class="w-36 h-24 text-white-200 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="gray" viewBox="0 0 16 20">
            <path d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.98 2.98 0 0 0 .13 5H5Z"/>
            <path d="M14.066 0H7v5a2 2 0 0 1-2 2H0v11a1.97 1.97 0 0 0 1.934 2h12.132A1.97 1.97 0 0 0 16 18V2a1.97 1.97 0 0 0-1.934-2ZM9 13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-2a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2v2Zm4 .382a1 1 0 0 1-1.447.894L10 13v-2l1.553-1.276a1 1 0 0 1 1.447.894v2.764Z"/>
          </svg>
          <span class="sr-only">Loading... {{ index + 1 }}</span>
        </div>
      </div>
    </div>
    <div class="mt-2 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8" *ngIf="!isLoading && cards.length > 0">
      <div class="group relative cursor-pointer" *ngFor="let card of cards">
        <div *ngIf="card.image_uris">
          <div class="w-full overflow-hidden rounded-md bg-gray-200 dark:bg-transparent lg:aspect-none group-hover:opacity-75" *ngIf="cards.length && card.image_uris">
            <img [src]="card.image_uris.border_crop" alt="Illustration card for {{ card.name }}"
                 class="h-full w-full object-cover object-center group-hover:opacity-75">
          </div>
          <div class="mt-2 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700 dark:text-white">
                <a (click)="cardDetail(card.id)">
                  <span aria-hidden="true" class="absolute inset-0 cursor-pointer"></span>
                  {{ card.name }}
                </a>
              </h3>
              <div class="font-bold">
                <p *ngIf="card.rarity == 'common'" class="mt-1 text-sm text-gray-500 dark:text-white cursor-pointer">Common</p>
                <p *ngIf="card.rarity == 'uncommon'" class="mt-1 text-sm text-gray-500 dark:text-white cursor-pointer">Uncommon</p>
                <p *ngIf="card.rarity == 'rare'" class="mt-1 text-sm text-gray-500 dark:text-white cursor-pointer">Rare</p>
                <p *ngIf="card.rarity == 'special'" class="mt-1 text-sm text-gray-500 dark:text-white cursor-pointer">Special</p>
                <p *ngIf="card.rarity == 'mythic'" class="mt-1 text-sm text-gray-500 dark:text-white cursor-pointer">Mythic</p>
                <p *ngIf="card.rarity == 'bonus'" class="mt-1 text-sm text-gray-500 dark:text-white cursor-pointer">Bonus</p>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!card.image_uris" class="flex items-center justify-center h-96 w-72 bg-white-300 rounded-lg animate-pulse my-4"
             role="status">
          <svg class="w-36 h-24 text-white-200 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="gray" viewBox="0 0 16 20">
            <path d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.98 2.98 0 0 0 .13 5H5Z"/>
            <path d="M14.066 0H7v5a2 2 0 0 1-2 2H0v11a1.97 1.97 0 0 0 1.934 2h12.132A1.97 1.97 0 0 0 16 18V2a1.97 1.97 0 0 0-1.934-2ZM9 13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-2a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2v2Zm4 .382a1 1 0 0 1-1.447.894L10 13v-2l1.553-1.276a1 1 0 0 1 1.447.894v2.764Z"/>
          </svg>
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>

    <div *ngIf="!isLoading && cards.length === 0" class="flex justify-center">
      <div class="max-w-md w-full text-center p-6 bg-white dark:bg-gray-700 rounded-lg shadow-md">
<!--        <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">-->
<!--          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 14l-2-2m0 0l-2-2m2 2l2-2m7 6V7a2 2 0 00-2-2H7a2 2 0 00-2 2v6a2 2 0 002 2h6a2 2 0 002-2zm1 4h2a2 2 0 002-2v-2a2 2 0 00-2-2h-2m0 0H7m6 0v6"></path>-->
<!--        </svg>-->
        <lucide-icon name="search-x" class="mx-auto h-12 w-12 text-gray-400 dark:text-white"></lucide-icon>
        <h2 class="mt-2 text-lg font-medium text-gray-900 dark:text-white">No cards found</h2>
        <p class="mt-1 text-sm text-gray-500 dark:text-white">We couldn't find any cards matching your search.</p>
      </div>
    </div>

    <div class="my-6">
      <app-pagination [currentPage]="currentPage" [limit]=pageSize [total]=total [pagesCount]=nbPage (changePage)="changePage($event)" ></app-pagination>
    </div>
  </div>
</div>

