<div class="bg-transparent min-h-screen flex flex-col items-center p-4">
  <header class="w-full bg-blue-600 dark:bg-blue-800 text-white py-6 text-center">
    <img class="w-[100px] mx-auto mb-2" alt="Fabled logo" src="assets/logo/fabled-brand-logo.png">
    <h1 class="brand text-3xl font-bold">Fabled</h1>
    <p class="mt-2">The one and only Flesh and Blood's Sepecialized Marketplace</p>
  </header>

  <main class="flex flex-col items-center w-full max-w-4xl bg-white dark:bg-gray-800 rounded-lg shadow-md mt-8 p-6 border-double border-gray-500 dark:border-white border-2">
    <section class="mb-8 text-center">
      <h2 class="text-2xl font-semibold mb-4 text-gray-900 dark:text-gray-100">Welcome to our Flesh and Blood Marketplace</h2>
      <p class="text-gray-700 dark:text-gray-300 mb-4">Our platform connects enthusiasts looking to buy or sell Flesh and Blood cards. Whether you're a seasoned player or a new collector, our marketplace offers a seamless and secure experience.</p>
      <h2 class="welcome-title absolute z-40 mx-[150px] my-[180px] text-5xl font-bold drop-shadow-xl text-gray-800">Welcome to Fabled</h2>
      <img src="assets/banners/fabled-welcome-banner.png" alt="Welcome Illustration" class="w-full rounded-md shadow-md h-[424px]">
    </section>

    <section class="mb-8 text-center">
      <h2 class="text-2xl font-semibold mb-4 text-gray-900 dark:text-gray-100">How to Buy Cards</h2>
      <p class="text-gray-700 dark:text-gray-300 mb-4">Browse our extensive collection of Flesh and Blood cards. Use the search and filter options to find exactly what you're looking for. Once you find a card you like, simply add it to your cart and proceed to checkout.</p>
      <img src="assets/banners/banner-trading-cards-02.png" alt="Buy Cards Illustration" class="w-full rounded-md shadow-md h-[424px]">
    </section>

    <section class="text-center">
      <h2 class="text-2xl font-semibold mb-4 text-gray-900 dark:text-gray-100">How to Sell Cards</h2>
      <p class="text-gray-700 dark:text-gray-300 mb-4">Listing your cards for sale is easy. Create an account, upload your card details and set your price. Our platform provides a safe environment for transactions, ensuring you get the best value for your cards.</p>
      <img src="assets/banners/fabled-selling-cards-banner.png" alt="Sell Cards Illustration" class="w-full rounded-md shadow-md h-[424px]">
    </section>

    <div class="mt-8 text-center">
      <button (click)="getStarted()" class="px-6 py-3 bg-blue-600 dark:bg-blue-700 text-white rounded-md hover:bg-blue-700 dark:hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 dark:focus:ring-offset-gray-900"
              type="button">
        Get Started
      </button>
    </div>
  </main>
</div>
