<div class="container mx-auto my-8 p-8 bg-white dark:bg-gray-700 text-gray-900 dark:text-white rounded shadow-md">
  <h1 class="text-3xl font-semibold mb-4">{{ username }} Profile</h1>

  <!-- User Details Section -->
  <div>
    <h3 class="text-lg font-semibold mb-2">Profile Information</h3>
    <ul class="list-disc pl-6">
      <li>Username: {{ userData.username }}</li>
      <li>Email: {{ userData.email }}</li>
      <li>Last Name: {{ userData.lastName }}</li>
      <li>First Name: {{ userData.firstName }}</li>
    </ul>
  </div>

  <div *ngIf="userAddress">
    <h3 class="text-lg font-semibold mb-2">Address</h3>
    <ul class="list-disc pl-6">
      <li>Street: {{ userAddress.street }}</li>
      <li>House Number: {{ userAddress.houseNumber }}</li>
      <li>City: {{ userAddress.city }}</li>
      <li>Region: {{ userAddress.region }}</li>
      <li>Post Code: {{ userAddress.postalCode }}</li>
      <li>Country: {{ userAddress.country }}</li>
    </ul>
  </div>
</div>
