<header class="w-[98%] bg-blue-600 dark:bg-blue-800 text-white py-6 text-center my-4 mx-auto">
  <img class="w-[100px] mx-auto mb-2" alt="Fabled logo" src="assets/logo/fabled-brand-logo-v2.png">
  <h1 class="brand text-3xl font-bold">Fabled</h1>
  <p class="mt-2">The one and only Flesh and Blood's Sepecialized Marketplace</p>
</header>

<div class="bg-white dark:bg-gray-900 bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')] dark:bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg')] min-h-screen flex items-center justify-center p-4">

  <div class="max-w-4xl w-full bg-white dark:bg-gray-900 rounded-lg shadow-md p-6 rounded border-double border-gray-500 dark:border-white border-2">
    <h1 class="text-3xl font-bold mb-6 text-center">How to Sell Flesh and Blood Cards On Fabled.com</h1>
    <hr class="p-2">
    <p class="dark:text-gray-200 mb-6 text-center">Follow the steps below to list your Flesh and Blood cards for sale on our platform.</p>

    <div class="mb-10">
      <h2 class="text-2xl font-semibold mb-4 flex items-center">
        Card Conditions
      </h2>
      <hr class="p-2">
      <ul class="list-disc list-inside dark:text-gray-200 pl-4">
        <li><strong>Excellent:</strong> Perfect condition, as if freshly pulled from a pack.</li>
        <li><strong>Near Mint:</strong> Very minimal wear, almost perfect. Cards in Near Mint condition may show subtle wear.</li>
        <li><strong>Good:</strong><p class="mx-12">A card in Good condition looks like it has gone through a long tournament without a sleeve.</p>
          <p class="mx-12">A card in good condition generally has significant wear on all areas, leaving white spots around the corners and edges. The surface of the card often has scratches and is slightly dirty. However, these are just normal signs of use. The card has no creases or water damage.</p>
        </li>
        <li><strong>Lightly Played:</strong> Minor wear visible.</li>
        <li><strong>Played:</strong> Noticeable wear and minor imperfections. Cards in Played condition show obvious wear.</li>
        <li><strong>Heavily Played:</strong> Significant wear, may have creases or dents.</li>
        <li><strong>Poor:</strong> Heavy damage, not suitable for competitive play.</li>
      </ul>
    </div>

    <div class="mb-10">
      <h2 class="text-2xl font-semibold mb-4 flex items-center ">
        What do the different rarity symbols look like?
      </h2>
      <hr class="p-2">
      <p class="dark:text-gray-200">Like other TCGs, Flesh and Blood uses different colored symbols (in this case colored circles) to tell you how rare a card is. The purple triangle is the latest addition to these symbols which shows that a card is of Marvel rarity. The symbols shown below will be used in the game from Uprising onwards.</p>
      <ul class="list-disc list-inside pl-4 mt-2 dark:text-gray-200">
        <li>Common <strong>(C)</strong></li>
        <li>Token <strong>(T)</strong></li>
        <li>Rare <strong>(R)</strong></li>
        <li>Super rare <strong>(S)</strong></li>
        <li>Majestic <strong>(M)</strong></li>
        <li>Legendary <strong>(L)</strong></li>
        <li>Fabled <strong>(F)</strong></li>
        <li>Marvel</li>
      </ul>

      <img ngSrc="assets/seller-guide/flesh-and-blood-rarity-symbols.jpg" alt="Flesh and Blood card rarity indicator/symbols" class="mt-4 w-full rounded-md shadow-md"
           height="404" width="767">

      <h2 class="mt-3 text-2xl font-semibold mb-4 flex items-center">
        How to recognize set and rarity codes for Flesh and Blood TCG
      </h2>
      <p class="dark:text-gray-200">At the bottom-left of every card, you will see a line of text that will tell you which set the card is from, the collector’s card number, and its rarity. Let’s break down the code on this card.</p>
      <img ngSrc="assets/seller-guide/flesh-and-blood-how-to-read-card-code.jpg" alt="Flesh and Blood card how to read card code" class="mt-4 w-full rounded-md shadow-md"
           height="264" width="752">
      <h2 class="mt-3 text-2xl font-semibold mb-4 flex items-center">WTR004-L</h2>
      <p class="dark:text-gray-200">WTR tells us that this card is from the Welcome to Rathe set, 004 means that this is card number 4 in that set, and the L signifies that this card is a Legendary card in that set.</p>
    </div>

    <div class="mb-10">
      <h2 class="text-2xl font-semibold mb-4 flex items-center">
        How to tell if your card is First Edition or Unlimited
      </h2>
      <hr class="p-2">
      <p class="dark:text-gray-200">Whilst Flesh and Blood has been growing, Legend Story Studios (LSS) have taken on feedback from the player base and consequently implemented some changes to simplify the collector’s information on cards.
        In Welcome to Rathe and Arcane Rising, First Edition cards simply had text showing the card information. From Crucible of War onwards, all other releases featured a colored dot/circle with the rarity letter inside. Unlimited printings will have the outline of a colored circle instead of a dot.
      </p>
      <img ngSrc="assets/seller-guide/rarity-comparison-flesh-and-blood.jpg" alt="Flesh and Blood card rarity comparison" class="mt-4 w-full rounded-md shadow-md"
           height="404" width="767">
      <p class="my-3 dark:text-gray-200">
        A good rule of thumb for anything printed <strong>after</strong> Arcane Rising but <strong>before</strong> Uprising is that if the letter is in a colored dot, it’s First Edition. If it’s in an outline of a colored circle, it’s Unlimited.
      </p>
      <img ngSrc="assets/seller-guide/rarity-dots.jpg" alt="Flesh and Blood card rarity dots" class="mt-4 w-full rounded-md shadow-md"
           height="404" width="767">
      <p class="my-3 dark:text-gray-200">
        After Uprising, LSS realized that constantly changing how this information was displayed on the cards was a little confusing, especially to new collectors of the game. This resulted in First Edition being retired altogether. This is because, when the game first came out, the player base was much smaller, and First Edition print runs were sized accordingly with larger Unlimited edition print runs to support player growth. This worked well until the game became more and more popular. With the player base as big as it is now, the print run size required to support a new release on day one is so huge, that it makes the First Edition product less valuable due to the sheer amount of booster boxes that are needed on release day to simply play an organized release event.
      </p>
      <p class="dark:text-gray-200">
        From the Uprising set onwards, there is just one type of booster box available with one set of rarity codes to look out for, which are the solid dots with a letter inside. Marvels are the latest rarity to be added, and will only be found from Uprising onwards.
      </p>
    </div>

    <div class="mb-10">
      <h2 class="text-2xl font-semibold mb-4 flex items-center">
        What is the difference between Rainbow foils and Cold foils?
      </h2>
      <hr class="p-2">
      <p class="dark:text-gray-200">
        One of the great things LLS did when creating Flesh & Blood was to cater to both players and collectors. They created a truly collectible market with this game when they printed the rarest and most desirable cards in a technique called Cold Foiling. Cold foils are the rarest chase cards to be found in the game, whilst Rainbow foiled cards are the cheaper alternatives for the players to game with.
      </p>
      <img ngSrc="assets/seller-guide/flesh-and-blood-cold-foil.jpg" alt="Flesh and Blood card cold foil illustrations" class="mt-4 w-full rounded-md shadow-md"
           height="404" width="767">
      <p class="my-3 dark:text-gray-200">
        Rainbow foils are your traditional foils you will find in almost every single TCG. The whole card will shine like a rainbow when the light hits it. You will always get one Rainbow foil in every single booster pack you open, which will usually be a common, but you can also find Rainbow foil versions of all the other rarities. One point to note is that Rainbow foils can be found in all Flesh and Blood sets, whether it’s First Edition or Unlimited
      </p>
      <p class="my-3 dark:text-gray-200">
        Cold foils are a special part of Flesh and Blood that LSS created to showcase the collectability of the game. Cold foils have a silver, metallic look to them and most importantly, are extremely rare. If you are a Magic the Gathering player, you may have noticed that Wizards started using a similar foiling technique when Commander Legends was released called Etched foils which are very similar to this technique. LSS had restricted Cold foils to First Edition products in its previous releases. This is what made First Edition booster boxes so desirable, as you had a small chance of pulling one of these highly sought-after cards.
      </p>
      <img ngSrc="assets/seller-guide/flesh-and-blood-rainbow-foil.jpg" alt="Flesh and Blood card Rainbow foil illustrations" class="mt-4 w-full rounded-md shadow-md"
           height="404" width="767">
      <p class="my-3 dark:text-gray-200">
        In the Unlimited sets, you would only find Rainbow foil versions of these cards. As of Uprising, you can find Cold foils in all future releases as well, but they are about three times harder to find now, with more Rainbow foil versions of these highly sought-after cards now included in booster packs, thus making Cold foils truly special should you be lucky enough to find one.
      </p>
    </div>

    <div class="mb-10">
      <h2 class="text-2xl font-semibold mb-4 flex items-center">
        White and black bordered cards
      </h2>
      <hr class="p-2">
      <p class="dark:text-gray-200">
        Before History Pack 1 (HP1) was released, all Flesh and Blood cards had black borders. That all changed with the release of HP1, which featured reprints from Welcome to Rathe, Arcane Rising, and Crucible of War, all with white borders. HP1 was released to fill the void that was left when the first three sets went out of print. LSS wanted to support new players who had just started to play the game that wanted a product to buy. This set contains many of the key cards from these first three sets and provides a great opportunity for new players just stepping into this world.
      </p>
      <img ngSrc="assets/seller-guide/flesh-and-blood-white-bordered-cards.jpg" alt="Flesh and Blood white bordered card" class="mt-4 w-full rounded-md shadow-md"
           height="404" width="767">
      <p class="my-3 dark:text-gray-200">
        So, why the white border? LSS have a pattern when it comes to reprints. Whenever a card is reprinted they make it ‘less desirable’. For example, the first time Fyndal’s Spring Tunic was printed in Alpha Welcome to Rathe (WTR), it was available as a Cold foil. The second time it was printed in WTR Unlimited it was available as a Rainbow foil. The third time it was printed in Crucible of War it was available as a non-foil card. The fourth time it was printed it was available as a white bordered non-foil card. Here at Mana Grading, we have no idea how else they can reprint this card and make it ‘less desirable’ as it’s one of the most sought-after cards in the entire game!
      </p>
      <p class="my-3 dark:text-gray-200">
        So that wraps up our seller guide to Flesh and Blood card.<strong> Good luck in your Cold foil hunts and sales !</strong>
      </p>
    </div>

    <div class="text-center">
      <button (click)="getStarted()" class="mt-6 px-6 py-3 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
        Browsing cards and Start Selling
      </button>
    </div>
  </div>
</div>
